# ----------------------------------
# CONFIGURE BOT HERE
# ----------------------------------

token: ""
secondProxy: "false"
prefix: "SoulzSteal"

# Must be set to the guild id of the discord server
guildId: ""
# Must be set to the channel id of the server chat channel
serverChatChannel: ""
# Must be set to the role id of the verified role
verifiedRole: ""

# ----------------------------------
# CONFIGURE DATABASE HERE
# ----------------------------------

database:
  # type must be set to MYSQL
  type: "MYSQL"
  # MYSQL settings
  jdbcString: ""

# ----------------------------------
# CONFIGURE MESSAGES HERE
# ----------------------------------

messages:
  colour:
    # primary colour is the one u want to stand out
    # secondary colour is the one u want to be more subtle eg the lighter shade of the primary colour
    LifeSteal:
      primary: "<color:#F11642>"
      secondary: "<color:#FFA2B9>"
    Box:
      primary: "<color:#5D6FF2>"
      secondary: "<color:#A2ADFF>"
    Hub:
      primary: "<color:#F11642>"
      secondary: "<color:#FFA2B9>"

  global:
    permissionError: "<secondary>You don't have <primary>permission<secondary> to use this command."
    configReloadSuccess: "<secondary>Configuration reloaded <primary>successfully<secondary>."

  # <message> message in the argument
  broadcast:
    noArguments: "&r<secondary>Broadcast message not found."
    broadcastMessage: "<primary>&l▍ <primary>Global Broadcast\n<primary>&l▍ &r<secondary><player>: &f<message>"

  hub:
    hubError: "<primary>Hub <secondary>server not found."
    hubSuccess: "<secondary>Teleporting to <primary>hub<secondary>..."

  # <player> player
  # <server> initial server
  sendCommand:
    sendPlayerToServer: "&r<secondary>Teleporting <primary><player> <secondary>to <primary><server>..."
    sendServerToServer: "&r<secondary>Sending entire server <secondary>to <primary><server>"

    noArgumentsServer: "&r<secondary>Server not <primary>found<secondary>."
    noArgumentsPlayer: "&r<secondary>Player not <primary>found<secondary>."

  linkCommand:
    # message sent when a player links their account, use \n for new line
    linkCodeMessage: "&r<secondary>Your linking code is <primary><code><secondary> click me to copy and go to the channel <primary>#link-here<secondary>!"

    # <player> player name, use \n for new line
    linkedBroadcast: "&r<primary><player> <secondary>has successfully linked to discord! <primary>&o(/link)"

    # error message when a player tries to link their account, but they are already linked
    linkedError: "&r<secondary>You are already <primary>linked<secondary> to discord use <primary>/linkclaim <secondary>for rewards!"

    # error message when a player tries to link their account, but they are not linked
    notLinkedError: "&r<secondary>You are not <primary>linked<secondary> to discord!"

    linkCodeExpired: "&r<secondary>Your linking code has expired! Please use /link to get a new one!"